export path=($HOME/bin $path)

{{ if eq .chezmoi.os "darwin" }}
if [[ ! $(type brew) ]]; then
    echo "Uh oh! Homebrew isn't in the PATH!"
    exit 1
fi
brew_prefix=$(brew --prefix)

# Shell completions for programs installed via Homebrew
fpath=("$brew_prefix/share/zsh-completions" $fpath)

path_to_z=$brew_prefix/etc/profile.d

test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"
{{ end }}

# z tracks directories I use and allows jumping to them by frecency
export _Z_DATA=${XDG_DATA_HOME}/zdata
. ${path_to_z:-$HOME/bin}/z.sh
